name: CI

on:
  push:
    branches:
      - main

jobs:
  setup-kubectl-and-argo:
    runs-on: ubuntu-latest
    
    steps:
      - name: Verificar o reposit처rio
        uses: actions/checkout@v2
      
      - name: Instalar o kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/v1.24.0/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
      
      - name: Criar o diret처rio .kube
        run: mkdir -p ~/.kube
      
      - name: Configurar o kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" | base64 --decode > ~/.kube/config
          chmod 600 ~/.kube/config  # Corrigir permiss천es
      
      - name: Instalar o Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          
      - name: Teste Login
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: 'latest'
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
      
      - name: Configurar o gcloud SDK
        run: |
          sudo apt-get update && sudo apt-get install -y curl
          curl https://sdk.cloud.google.com | bash
          exec -l $SHELL
          gcloud components install gke-gcloud-auth-plugin
          gcloud auth activate-service-account --key-file="${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}"
          gcloud config set project ${GCP_PROJECT_ID}
          gcloud config set compute/zone ${GKE_CLUSTER_ZONE}
          gcloud container clusters get-credentials ${GKE_CLUSTER_NAME} --zone ${GKE_CLUSTER_ZONE} --project ${GCP_PROJECT_ID}
      
      - name: Adicionar o reposit처rio Helm do Argo CD
        run: |
          helm repo add argo https://argoproj.github.io/argo-helm
          helm repo update
      
      - name: Verificar login no GCP
        run: |
          gcloud auth list
